/* --------------------------MAIN------------------------------------- */


a {
    text-decoration: none !important;
}

.container-title {
    width: 100%;
    height: 230px;
    // margin: 0 auto;
    text-align: left;
    line-height: 20px;
    background-image: url(/public/img/Home-cover.png);
    background-size: cover;
    // border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.container-title div {
    padding: 15px;
}

.container-title div:first-child {
    color: #F7851D;
}

.to-book {
    color: white;
}


/* |||||||||||||||||||||||||MAIN ARTICLE||||||||||||||||||||||||||||| */




.container-article {
    width: 365px;
    // height: 440px;
    background-color: white;
    // margin: 0 auto;
    // margin-top: 15px;
    // margin-left: 10px;
    // margin-right: 10px;
    margin: 15px auto;
    border-radius: 15px;
}



.container-article h1 {
    font-size: 30px;
    text-align: center;
    color: #2889B6;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px;
}

.col-article img {
    height: 250px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.icon-info {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}



.container-article-info {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    background-color: #FAFAFA;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    // height: 57px;
    line-height: 14px;
    position: relative;
}

.span-info {
    display: none;
}

.article-info img {
    width: 17px;
    height: 17px;
}

/* --------------------------HOVER------------------------------------- */

.col-article:hover p {
    background-color: #F7851D;
}

.col-article:hover span {
    color: #F7851D;
}

.col-article:hover .divider-home {
    border: solid 1px #FFB440;
}

.col-article:hover .icon-info.room {
    content: url(/public/img/icon_room_02.png);
}

.col-article:hover .icon-info.space {
    content: url(/public/img/icon_space_02.png);
}

.col-article:hover .icon-info.bed {
    content: url(/public/img/icon_bed_02.png);
}

.col-article:hover .icon-info.bathroom {
    content: url(/public/img/icon_bathroom_02.png);
}



/* --------------------------RESPONSIVE PC------------------------------------- */

@media (min-width: 480px) {

    .row-article {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 35px;
        gap: 24px 0px;
        margin-top: -5px;
        height: auto;
    }

    .col-article img {
        height: 130px;
        width: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .container-article {
        width: 1021px;
        height: auto;
        background-color: white;
        margin: 0 auto;
        margin-top: 15px;
        border-radius: 15px;
        padding-bottom: 30px;
    }

    .container-article h1 {
        font-size: 30px;
        text-align: center;
        color: #2889B6;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 10px;
    }

    .col-article {
        text-align: center;
    }

    .container-title {
        max-width: 680px;
        height: 230px;
        margin: 0 auto;
        text-align: left;
        line-height: 42px;
        background-image: url(/public/img/Home-cover.png);
        background-size: cover;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .container-title div {
        padding: 15px;
    }

    .col-article p {
        text-align: center;
        background-color: #2889B6;
        color: white;
        margin-top: -4px;
        font-size: 14px;
        font-weight: 500;
        height: 26px;
        padding-top: 4px;
    }

    .container-article-info {
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        background-color: #FAFAFA;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 57px;
        line-height: 14px;
        align-items: center;
    }

    .container-article-info:nth-child(1) {
        border-right: 1px solid #95CFE9;


    }

    .article-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 11px;
        color: #2889B6;
        text-align: center;
        padding: 3px 15px;
        width: 60px;


    }

    .article-info img {
        width: 17px;
        height: 17px;
    }

    .container-article-info:nth-child(1) {
        border-right: 1px solid #95CFE9;


    }

    .primo {
        border-right: 1px solid #95CFE9;
        // position: relative;
    }

    .secondo {
        border-right: 1px solid #95CFE9;
        // position: relative;

    }

    .terzo {
        border-right: 1px solid #95CFE9;
        // position: relative;

    }

    .span-info {
        display: block;
    }

    main {
        background-color: #95CFE9;
        max-width: 100%;
    }

    .divider-home {
        border: 1px solid #95CFE9;
        height: 39px;
    }
}

@media (min-width: 680px) {
    main {
        padding-top: 25px;
    }

    .container-title {
        border-radius: 15px;
    }
}


/* --------------------------WaVE------------------------------------- */




/* --------------------------RESPONSIVE PHONE------------------------------------- */


@media (max-width: 480px) {

    .article-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 11px;
        color: #2889B6;
        text-align: center;
        background-color: var(--white);
        padding: 7px;
        aspect-ratio: 1/1;
        width: 45px;
        border-radius: 50%;

    }

    .primo {
        position: absolute;
        bottom: 45px;
        left: 40px;
    }

    .secondo {
        position: absolute;
        bottom: 45px;
        left: 102px;

    }

    .terzo {
        position: absolute;
        bottom: 45px;
        left: 162px;

    }

    .quarto {
        position: absolute;
        bottom: 45px;
        left: 222px;

    }

    .col-article p {
        text-align: center;
        background-color: #2889B6;
        color: white;
        margin-top: -4px;
        font-size: 14px;
        font-weight: 500;
        height: 36px;
        padding-top: 4px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    main {
        background-color: #95CFE9;
        max-width: 100%;
    }

    .row-article {
        display: flex;
        // grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        // width: 200px;
        // gap: 9px 23px;
        // padding: 0px 35px;
        // margin-top: -5px;
    }

    .col-article {
        text-align: center;
        margin: 4px auto;
    }

}