/* @use './partials/exmaple.scss'; */
@use './headerHome.scss';
@use './contentHome.scss';
@use './research.scss';
@use './apartmentDetail.scss';
@use './footer.scss';
@use './login.scss';


// #app {
//   height: 100vh;
//   width: 100vw;
//   max-width: 100%;
//   display: flex;
//   flex-direction: column;
// }

// main {
//   flex-grow: 1;
// }


/* ------------------------------GENERAL------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --orange: #F7851D;
  --light--orange: #FFB440;
  --white: #FFFFFF;
  --darker--white: #FAFAFA;
  --light--blue: #95CFE9;
  --blue: #2889B6;
}



.underline {
  text-decoration: underline;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #95CFE9 !important;
  overflow-x: hidden;

}

p {
  margin-bottom: 0 !important;
}

.flex {
  display: flex;
}

.container-sm {
  width: 720px;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
li,
ol,
menu {
  list-style: none;
  color: currentColor;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}


#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}