/* -----------------------------HEADER------------------------------- */

.home-header .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    color: white;
}

.search-header .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 244px;
    color: white;
}

.home-header .header-container {
    background-color: white;
}

.search-header .header-container {
    background-color: white;
}




.home-header .logo-home {
    width: 50px;
    height: 20px;
}

.search-header .logo-home {
    display: none;
    visibility: hidden;
}

.search-header .logo {
    width: 40px;
    height: 40px;
}

.home-header .back-home {
    display: none;
    visibility: hidden;
}

.search-header .search-home {
    display: none;
    visibility: hidden;
}

.home-header .header-row form input {
    width: 100px;
    height: 30px;
    border: 3px solid #F7851D;
    border-radius: 40px;
    padding: 0 20px;
    // display: none;
}

.search-header .search-title {
    color: #2889B6;
    font-size: 25px;
}

.home-header .search-title {
    display: none;
    visibility: hidden;
}

.home-header .fa-solid {
    font-size: 18px;
}


.home-header .header-row form button {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: #F7851D;
    color: white;
    margin-left: 15px;
    font-size: 12px;


}

.magnifying-glass {
}

.search-header .header-row form button {
    width: 42px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: #F7851D;
    color: white;
    margin-left: 15px;
}

.header-row .register-btn {
    background-color: #2889B6;
    color: white;
    width: 55px;
    height: 28px;
    text-align: center;
    font-size: 10px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    line-height: 8px;
}

.header-row a span:hover {
    color: #FFB440;
}


// responsive 

@media (min-width: 480px) {
    

    .home-header .header-row form input {
        width: 400px;
        height: 45px;
        border: 3px solid #F7851D;
        border-radius: 40px;
        padding: 0 20px;
        // display: inline-block;
    }

    .home-header .logo-home {
        width: 100px;
        height: 50px;
    }

    .home-header .header-row form button {
        width: 42px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: none;
        background-color: #F7851D;
        color: white;
        margin-left: 15px;
    
    }

    .header-row .register-btn {
        background-color: #2889B6;
        color: white;
        width: 65px;
        height: 38px;
        text-align: center;
        font-size: 10px;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
}