/* -----------------------------HEADER------------------------------- */

.home-header .header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 8px 244px;
  color: white;
}

.secondary-header .header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 8px 244px;
  color: white;
}

.header-container {
  background-color: white;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
  display: flex;
}

.home-header .search-home {
  display: flex;
  align-items: center;
}

.tt-search-box-input-container {
  width: 0;
  padding: 0 !important;
}

.tt-search-box {
  margin: 0 !important;
}

.secondary-header .header-container {
  background-color: white;
}

.logo-input {
  flex-grow: 1;
}

.home-header .logo-home {
  width: 122px;
  height: 60px;
}

.secondary-header .logo-home {
  display: none;
  visibility: hidden;
}

.secondary-header .logo {
  width: 43px;
  height: 40px;
}

.home-header .back-home {
  display: none;
  visibility: hidden;
}

.secondary-header .search-home {
  display: none;
  visibility: hidden;
}

.home-header .header-row form input {
  width: 400px;
  min-width: 150px;
  height: 45px;
  border: 3px solid #f7851d;
  border-radius: 999px;
  padding: 0 20px;
  // display: none;
}

.home-header .fa-solid {
  font-size: 18px;
}

.home-header .header-row form button {
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #f7851d;
  color: white;
  margin-left: 15px;
  font-size: 12px;
}

.secondary-header .header-row form button {
  width: 42px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #f7851d;
  color: white;
  margin-left: 15px;
}

.header-row .register-btn,
.header-row .login-btn {
  background-color: #2889b6;
  color: white;
  width: 65px;
  height: 35px;
  text-align: center;
  display: block;
  cursor: pointer;
  line-height: 3px;
  text-decoration: none;
  line-height: 35px;
}

.header-row .register-btn {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  margin-right: 2px;
  margin-left: 10px;
}

.header-row .login-btn {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

.profile-btn {
  margin: 0px 10px;
  padding: 15px 12px;
  border: none;
  background-color: #2889b6;
  color: white;
  text-align: center;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
  line-height: 3px;
  text-decoration: none;
}

.dropdown-sm {
  display: none;
  text-align: center;
}

.username {
  color: var(--blue);
  font-size: 25px;
  font-weight: 500;
}

.dropdown-menu-sm {
  padding: 0;
}

.dropdown-arrow {
  transform: translateY(2px) !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.header-row .register-btn a {
  color: white;
  text-decoration: none;
}

.register-btn-one,
.login-btn-one {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.register-btn-one {
  font-size: 12px;
}

.register-btn:hover,
.login-btn:hover,
.profile-btn:hover {
  background-color: var(--orange);
}

.dropdown-item {
  color: var(--blue) !important;
}

.menu-icons {
  color: var(--blue);
  font-size: 20px;
  cursor: pointer;
  display: none;
}

#breadcrumb {
  display: none;
}

@media (max-width: 992px) {
  .header-row {
    display: block !important;
    margin: 0 auto;
  }

  .logo-input {
    height: 100px;
    align-items: center;
    gap: 20px;
    flex-grow: 0;
  }

  .nav {
    display: none !important;
    padding: 0px;
  }

  .dropdown {
    display: none;
  }

  .dropdown-sm {
    display: block;
  }

  .hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #breadcrumb:checked ~ .nav {
    height: 200px;
    display: block !important;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center !important;
    background-color: white;
    padding: 40px !important;
    transition: 0.3s ease;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 99999999999999999;
  }

  .menu-icons {
    display: block;
  }

  #close-menu {
    display: none;
  }

  #breadcrumb:checked ~ .menu-icons #menu-icon {
    display: none;
  }

  #breadcrumb:checked ~ .menu-icons #close-menu {
    display: block;
  }

  .logo-home {
    display: none;
  }

  .back-home {
    display: block !important;
    visibility: visible !important;
  }

  .logo {
    display: block;
    height: 40px;
  }

  .login-btn,
  .register-btn {
    background-color: transparent !important;
    color: var(--blue) !important;
    font-size: 20px;
    font-weight: 500;
    width: auto !important;
  }

  .login-btn:hover,
  .register-btn:hover {
    color: var(--orange) !important;
  }
}

@media (max-width: 768px) {
  .tt-search-box-input-container {
    width: 200px !important;
  }
}

@media (max-width: 480px) {
  .home-header .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0px;
  }

  .secondary-header .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .home-header .header-row form input {
    width: 200px;
    height: 45px;
    border: 3px solid #f7851d;
    border-radius: 40px;
    padding: 0 20px;
  }

  .tt-search-box-input-container {
    width: 200px !important;
  }

  .home-header .logo-home {
    width: 85px;
    height: 40px;
  }

  .home-header .header-row form button {
    width: 42px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: #f7851d;
    color: white;
    margin-left: 15px;
  }

  .header-row .register-btn {
    background-color: #2889b6;
    color: white;
    cursor: pointer;
  }
  .menu-icons {
    margin-right: 10px;
    margin-left: -15px;
  }
}
