// RESEARCH BAR ADDRESS -----------------------------------

.container-map-search {
    padding: 0 245px;
}

.map-flex {
    display: flex;
    justify-content: center;
}

.tt-search-box-input-container {
    width: 100%;
    height: 45px;
    width: 400px;
    border: 3px solid #F7851D;
    background-color: white;
    border-radius: 999px;
    padding: 0 20px;
}

.searchbar-style {
    display: flex;
    justify-content: center;
    left: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
}

.tt-search-box {
    background: none;
}

.address-research {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.address-research-input {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.address-research-input label,
input {
    padding: 10px 15px;
}

.address-research-input label {
    background-color: #F7851D;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 20px;
    font-weight: 600;
}

.address-research-input input {
    border: solid, 1px, #F7851D;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.address-research-btn {
    width: 55px;
    height: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: #F7851D;
    color: white;
    margin-left: 15px;
    font-size: 25px;
    align-self: center;
}

.search-button {
    border: none;
    background-color: #F7851D;
    color: white;
    padding: 12px 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.container-no-result {
    border: solid 1px #2889B6;
    color: #2889B6;
    padding: 12px 15px 8px 15px;
    margin-top: 40px;
    border-radius: 8px;
}


// FILTRI EXTRA --------------------------------------

.filter-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.filter-container {
    background-color: white;
    padding: 10px;
    gap: 8px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 20px;
    display: flex;
    width: 160px;
    justify-content: center;
    align-items: center;
    color: #2889B6;
    border: none;
}

.border-radius {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.filter-container img {
    width: 17px;
    height: 17px;
}

.all-filter-container {
    background-color: white;
    padding: 20px;
    gap: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    color: #2889B6;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.numeric-filters {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.filter-num {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.input-num {
    border: solid, 1px, #2889B6;
    border-radius: 99999px;
    width: 100px;
}

.filters-divider {
    background-color: #2889B6;
    height: 1px;
    width: 100%;
    margin: 10px 0;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.service-box {
    padding: 6px 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 3px;

}

// Checkbox personalization

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: solid 1px #2889B6;
    border-radius: 6px;
}

.container-checkbox input:checked~.checkmark {
    background-color: #2889B6;
    border: solid 2px white;
}

.service-box:has(input.checkbox:checked) {
    background-color: #2889B6;
    color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked~.checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


// Risultati di ricerca

.container-search {
    display: flex;
    justify-content: center;
}

.container-search-results {
    width: 1280px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 20px;
}

.container-search-results h1 {
    color: #2889B6;
    background-color: white;
    padding: 8px;
    border-radius: 15px;
    width: 220px;
    text-align: center;
    font-size: 30px;
    margin: 20px auto 0 auto;
}

.search-apartment-detail-card {
    display: flex;
    text-decoration: none;
}

.search-image-container {
    object-fit: cover;
    width: 500px;
    height: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
}

.sponsor-badge {
    position: absolute;
    color: white;
    background-color: #2889B6;
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
    z-index: 999;
    margin-top: -280px;
    margin-left: 20px;
}

.search-data-container {
    color: #2889B6;
    padding: 15px 25px 15px 25px;
    background-color: white;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search-detail-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #2889B6;
    text-align: center;
    padding: 3px 15px;
}

.search-icon-detail {
    width: 30px;
    height: 30px;
}

.search-icon-divider {
    border: 1px solid #95CFE9;
    height: 60px;
}

.service-apartment-card {
    display: flex;
    gap: 10px;
    align-items: center;
}

.service-badges {
    display: flex;
    flex-wrap: wrap;
}

.service-apartment-badge {
    font-size: 12px;
    padding: 4px;
    border: solid 1px #95CFE9;
    border-radius: 4px;
    margin: 3px;
}

/* --------------------------HOVER------------------------------------- */

.search-apartment-detail-card:hover .sponsor-badge {
    background-color: #F7851D;
}

.search-apartment-detail-card:hover .search-data-container {
    color: #F7851D;
}

.search-apartment-detail-card:hover .search-detail-info {
    color: #F7851D;
}

.search-apartment-detail-card:hover .search-icon-divider {
    border: solid 1px #FFB440;
}

.search-apartment-detail-card:hover .search-icon-detail.room {
    content: url(/public/img/icon_room_02.png);
}

.search-apartment-detail-card:hover .search-icon-detail.space {
    content: url(/public/img/icon_space_02.png);
}

.search-apartment-detail-card:hover .search-icon-detail.bed {
    content: url(/public/img/icon_bed_02.png);
}

.search-apartment-detail-card:hover .search-icon-detail.bathroom {
    content: url(/public/img/icon_bathroom_02.png);
}

.search-apartment-detail-card:hover .service-apartment-badge {
    border: solid 1px #FFB440;
}




/* Media query SMARTPHONE */

@media screen and (max-width: 480px) {

    main {
        max-width: 480px;
    }

    .container-map-search {
        padding: 0 15px;
        margin: auto;
        width: 100%;
    }

    .all-filter-container {
        width: 450px;
    }

    .numeric-filters {
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-md-7 {
        padding: 0 !important;
    }

    .search-apartment-detail-card {
        flex-direction: column;
        margin: 0 15px;
        position: relative;
    }

    .search-image-container {
        width: 100%;
        height: 320px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }

    .search-data-container {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px;
    }

    .search-detail-container {
        position: absolute;
        top: 210px;
        gap: 10px
    }

    .search-detail-info {
        font-size: 13px;
        padding: 8px 15px;
        background-color: white;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        width: 85px;
    }

    .search-icon-detail {
        width: 30px;
        height: 30px;
    }

    .search-icon-divider {
        display: none;
    }

    .sponsor-badge {
        font-size: 15px;
        margin-top: -295px;
        margin-left: 25px;
    }

}

//Roba a caso di Nicola

[id^="marker"] {
    background-image: url(/public/img/Logo-pointer-01.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

[id^="marker"]:hover {
    background-image: url(/public/img/Logo-pointer-02.png);
}

[id^="marker"]:hover .mapboxgl-popup-content {
    background-image: url(/public/img/Logo-pointer-02.png);
}

.popup-image {
    border-radius: 8px;
    object-fit: cover;
}

.mapboxgl-popup-content {
    border-radius: 15px;
    padding: 15px;
    display: flex;
}

.mapboxgl-popup-content p {
    color: #2889B6;
    font-size: 14px;
}

.mapboxgl-popup-close-button {
    display: none;
}